# Web Framework
fastapi==0.111.0          # Framework utama untuk membuat REST API
uvicorn==0.29.0           # ASGI server untuk menjalankan FastAPI

# Deep Learning & Model (Keras 3 standalone - lebih ringan dari TensorFlow penuh)
tensorflow==2.20.0        # Backend untuk Keras 3

# Preprocessing & Tokenizer
numpy==1.26.4             # Operasi array/matrix untuk hasil prediksi model
scikit-learn==1.4.2       # Dibutuhkan untuk load tokenizer.pkl

# Validasi Data
pydantic==2.7.1           # Validasi schema request & response

# Upload File untuk batch CSV
python-multipart==0.0.9   # Dibutuhkan jika ingin tambah fitur upload file ke FastAPI

# Preprocessing Teks Bahasa Indonesia (slang normalization, stopword, negasi, stemming)
nltk==3.8.1               # Stopword removal (corpus bahasa Indonesia)
PySastrawi==1.2.1         # Stemming kata berimbuhan Bahasa Indonesia
